.skibid{
    font-weight: bold;
    text-align: center;
    color: white;
}

.rizz{
    font-family: 'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
}
.lalu{
    background-color: darkslateblue;
}
